[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tom/Desktop/chrome-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=6
col=0

[/home/tom/Desktop/NAW-vragenlijst English.docx]
row=7
col=0

[/home/tom/Desktop/SKM_C258 Ex21040215450.pdf]
row=5
col=0

[5AB6E455B6E43365]
row=1
col=0

[588EE9E88EE9BE9E]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/tom]
row=4
col=0

