[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tom/Desktop/526676ecd4bde14ffcb58e610fb1193f.jpg]
row=6
col=0

[5AB6E455B6E43365]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=3
col=0

[/home/tom]
row=4
col=0

