[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tom/Desktop/Command and Conquer Red Alert 3 Uprising.lnk]
row=1
col=0

[/home/tom/Desktop/Command & Conquer™ Red Alert™ 3 Uprising.desktop]
row=5
col=0

[/home/tom/Desktop/Command & Conquer™ Red Alert™ 3 Uprising.lnk]
row=2
col=0

[/home/tom/Desktop/steam.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=3
col=0

[/home/tom]
row=4
col=0

